<body>

  <div class="profile-container">
    <h1> {{username}}'s Profile </h1>
  
    <div class="profile-details">
      <p><strong>Username:</strong> {{username}}</p>
    </div>

     <div class="profile-details">
      <p><strong>Platform:</strong> {{preferred_platform}}</p>
    </div>
  
  
  
    <h2> Convert </h2>
    <div class="convert">
      <a href="/discover" class="btn">Convert</a>
    </div>
  </div>
  
</body>
